* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/** Base Styles
 **
 ** Note: with 62.5% font size, 1.5rem = 15px
 **/
*:focus {
  outline: none;
}

html {
  overflow-y: scroll;
  font-size: 62.5%;

  /**
   ** http://stackoverflow.com/questions/24309789/how-to-slide-in-divs-from-off-screen-into-absolute-layout-using-css-transitions
   **/
  overflow-x: hidden;

  /**
   ** http://stackoverflow.com/questions/14217783/set-height-100-on-absolute-div
   **/
  position: relative;
  height: 100%;
}

body {
  background-color: #fff;
  height: 100%;
}

/** Typography **/

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

hr {
  border: 0;
  border-bottom: 1px solid #EEF4FA;
  margin: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #EA5F6E;
  line-height: inherit;
}

/* a:hover:not([class]) {
  text-decoration:  underline;
} */

/** Sane defined list default */
dt {
  font-weight: 500;
}

dd,
dt {
  margin: 0;
}

dd {
  color: #546789;
}

/**
 * Remove ugly chrome autofill colour
 */
::-webkit-autofill {
  background: transparent;
}

img {
  max-width: 100%;
  max-height: 100%;
}